body {
  background: #a7cfdf;
  /* Old browsers */

  background: -moz-radial-gradient(center, ellipse cover, #a7cfdf 0%, #23538a 100%);
  /* FF3.6+ */

  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #a7cfdf), color-stop(100%, #23538a));
  /* Chrome,Safari4+ */

  background: -webkit-radial-gradient(center, ellipse cover, #a7cfdf 0%, #23538a 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-radial-gradient(center, ellipse cover, #a7cfdf 0%, #23538a 100%);
  /* Opera 12+ */

  background: -ms-radial-gradient(center, ellipse cover, #a7cfdf 0%, #23538a 100%);
  /* IE10+ */

  background: radial-gradient(ellipse at center, #a7cfdf 0%, #23538a 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a7cfdf', endColorstr='#23538a', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */

  font-size: 1em;
  font-family: Helvetica;
}
header {
  text-align: center;
  color: #172835;
}
@-webkit-keyframes pulse {
  from {
    opacity: 0.0;
  }
  to {
    opacity: 1.0;
  }
}
#cursor.pulsating {
  -webkit-animation-name: pulse;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
  -webkit-animation-duration: 500ms;
  /*background: #5b6c7c;*/

}
#cursor {
  /*background: #fff;*/

}
#formtyper {
  display: none;
}
#documenttypeer {
  padding: 20px;
  width: 280px;
  height: 300px;
  border: 1px solid #000;
  background: #00f;
  margin: 0 auto;
  font-size: 2.5em;
  color: #fff;
  /*letter-spacing: 0.1em;*/

  /* Gradient Background */

  background: #244f6c;
  /* Old browsers */

  background: -moz-linear-gradient(-45deg, #244f6c 0%, #0c1a34 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #244f6c), color-stop(100%, #0c1a34));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(-45deg, #244f6c 0%, #0c1a34 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(-45deg, #244f6c 0%, #0c1a34 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(-45deg, #244f6c 0%, #0c1a34 100%);
  /* IE10+ */

  background: linear-gradient(135deg, #244f6c 0%, #0c1a34 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#244f6c', endColorstr='#0c1a34', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */

  /* Drop Shadow */

  text-shadow: 1px 1px 3px #8e92de;
  filter: dropshadow(color=#8e92de, offx=1, offy=1);
}
